.App {
  text-align: center;
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./Assets/quote-background-img.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#quote-box {
  background-color: rgba(0, 16, 32, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 15px;
  color: #C8A0D0;
  font-family: Comic Sans MS;
  font-weight: normal;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.7);
}
#fetched-data {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 20px;
}
#text {
  text-align: left;
  width: 100%;
  font-weight: bold;
}
#author {
  text-align: right;
  width: 100%;
}
#divider {
  height: 1px;
  border: none;
  background-color: #F8C0D8;
  width: 90%;
}
#actions {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:100%;
  font-size: 18px;
}
#new-quote {
  border: 2px solid #C8A0D0;
  border-radius: 5px;
  color: #C8A0D0;
  background-color: transparent;
  height: 37px;
}
#tweet-quote {
  text-decoration: none;
}
#tweet-btn {
  color: #001020;
  border: none;
  border-radius: 5px;
  background-color: #C8A0D0;
  height: 37px;
}
@media (hover: hover){
  #tweet-btn:hover {
    color: #C8A0D0;
    background-color: #001020;
    border: 2px solid #C8A0D0;
  }
  #new-quote:hover {
    color: #001020;
    background-color: #C8A0D0;
  }
}